<div><%= link_to l(:label_catalog_tag_category_new), new_project_catalog_tag_category_path(@project), :class => 'icon icon-add' %></div>
<div>
  <button type="button" class="add-button" id="add-catalog-tag-category"><%= l(:label_catalog_tag_category_new) %></button>
</div>
<% catalog_tag_categories = @project.catalog_tag_categories %>
<% unless catalog_tag_categories.empty? %>
  <table class="list catalog-tag-categories">
    <thead><tr>
      <th><%= l(:label_catalog_tag_categories) %></th>
      <th><%= l(:label_optional_description) %></th>
      <th></th>
    </tr></thead>
    <tbody>
    <% for catalog_tag_category in catalog_tag_categories %>
      <tr id=<%= "catalog_tag_category-#{catalog_tag_category.id}" %> >
        <td class="name edit-category"><%= catalog_tag_category.name %></td>
        <td class="description edit-category"><%= catalog_tag_category.description %></td>
        <td class="buttons">
          <%= delete_link catalog_tag_category_path(catalog_tag_category) %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td class="name"><%= CatalogTagCategory.always.name %></td>
      <td class="description"><%= CatalogTagCategory.always.description %></td>
      <td class="buttons">
      </td>
    </tr>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l :label_no_data %></p>
<% end %>
<dialog id="dialog-new-catalog-tag-category" class="dialog-panel-new">
  <h2><%=l(:label_catalog_tag_category_new)%></h2>
  <%= form_with model: CatalogTagCategory.new, url: project_catalog_tag_categories_path(@project) do |f| %>
    <%= render :partial => 'catalog_tag_categories/form', :locals => { :f => f } %>
    <div class="buttons">
      <button type="button" class="dialog-button-submit" id="submit-dialog-new-catalog-tag-category"><%= l(:button_create) %></button>
      <button type="button" class="dialog-button-cancel" id="cancel-dialog-new-catalog-tag-category"><%= l(:button_cancel) %></button>
    </div>
  <% end %>
</dialog>