<div><%= link_to l(:label_catalog_tag_group_new), new_project_catalog_tag_group_path(@project), :class => 'icon icon-add' %></div>
<% catalog_tag_groups = @project.catalog_tag_groups %>
<% unless catalog_tag_groups.empty? %>
  <table class="list catalog-tag-groups">
    <thead><tr>
      <th><%= l(:label_catalog_tag_groups) %></th>
      <th><%= l(:label_optional_description) %></th>
      <th></th>
    </tr></thead>
    <tbody>
    <% for catalog_tag_group in catalog_tag_groups %>
      <tr id=<%= "catalog_tag_group-#{catalog_tag_group.id}" %> class="edit-group">
        <td class="name editable"><%= catalog_tag_group.name %></td>
        <td class="description editable"><%= catalog_tag_group.description %></td>
        <td class="buttons">
          <%= delete_link catalog_tag_group_path(catalog_tag_group) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l :label_no_data %></p>
<% end %>
<div>
  <button type="button" class="add-button" id="add-catalog-tag-group"><%= l(:label_catalog_tag_group_new) %></button>
</div>
<dialog id="dialog-new-catalog-tag-group" class="dialog-panel-new">
  <h2><%=l(:label_catalog_tag_group_new)%></h2>
  <%= labelled_form_for CatalogTagGroup.new, :as => :catalog_tag_group,
                        :url => project_catalog_tag_groups_path(@project) do |f| %>
    <%= render :partial => 'catalog_tag_groups/form', :locals => { :f => f } %>
    <div class="buttons">
      <button type="button" class="dialog-button-submit" id="submit-dialog-new-catalog-tag-group"><%= l(:button_create) %></button>
      <button type="button" class="dialog-button-cancel" id="cancel-dialog-new-catalog-tag-group"><%= l(:button_cancel) %></button>
    </div>
  <% end %>
</dialog>