<% html_title l(:label_settings), l(:issues_catalog) %>
<%= stylesheet_link_tag('issues_catalog', plugin: 'issues_catalog') %>
<%= javascript_include_tag('issues_catalog_settings', plugin: 'issues_catalog') %>

<fieldset class="box tabular" id="issues_catalog_manage_categories">
  <legend><%= l(:label_catalog_tag_categories)%></legend>
  <div><%= link_to l(:label_catalog_tag_category_new), new_project_catalog_tag_category_path(@project), :class => 'icon icon-add' %></div>
  <% catalog_tag_categories = @project.catalog_tag_categories %>
  <% unless catalog_tag_categories.empty? %>
    <table class="list catalog-tag-categories">
      <thead><tr>
        <th><%= l(:label_catalog_tag_categories) %></th>
        <th><%= l(:label_optional_description) %></th>
        <th></th>
      </tr></thead>
      <tbody>
      <% for catalog_tag_category in catalog_tag_categories %>
        <tr id=<%= "catalog_tag_category-#{catalog_tag_category.id}" %> >
          <td class="name edit-category"><%= catalog_tag_category.name %></td>
          <td class="description edit-category"><%= catalog_tag_category.description %></td>
          <td class="buttons">
            <%= link_to l(:button_edit), edit_catalog_tag_category_path(catalog_tag_category), :class => 'icon icon-edit' %>
            <%= delete_link catalog_tag_category_path(catalog_tag_category) %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td class="name"><%= CatalogTagCategory.always.name %></td>
        <td class="description"><%= CatalogTagCategory.always.description %></td>
        <td class="buttons">
        </td>
      </tr>
      </tbody>
    </table>
  <% else %>
    <p class="nodata"><%= l :label_no_data %></p>
  <% end %>
</fieldset>

<fieldset class="box tabular" id="issues_catalog_manage_groups">
  <legend><%= l(:label_catalog_tag_groups)%></legend>
  <div><%= link_to l(:label_catalog_tag_group_new), new_project_catalog_tag_group_path(@project), :class => 'icon icon-add' %></div>
  <% catalog_tag_groups = @project.catalog_tag_groups %>
  <% unless catalog_tag_groups.empty? %>
    <table class="list catalog-tag-groups">
      <thead><tr>
        <th><%= l(:label_catalog_tag_groups) %></th>
        <th><%= l(:label_optional_description) %></th>
        <th></th>
      </tr></thead>
      <tbody>
      <% for catalog_tag_group in catalog_tag_groups %>
        <tr id=<%= "catalog_tag_group-#{catalog_tag_group.id}" %> >
          <td class="name edit-group"><%= catalog_tag_group.name %></td>
          <td class="description edit-group"><%= catalog_tag_group.description %></td>
          <td class="buttons">
            <%= link_to l(:button_edit), edit_catalog_tag_group_path(catalog_tag_group), :class => 'icon icon-edit' %>
            <%= delete_link catalog_tag_group_path(catalog_tag_group) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="nodata"><%= l :label_no_data %></p>
  <% end %>
</fieldset>

<fieldset class="box tabular" id="issues_catalog_manage_tags">
  <legend><%= l(:label_tags) %></legend>
  <% tags = @project.catalog_tags %>
  <% unless tags.empty? %>
    <table class="list catalog-tags">
      <thead><tr>
        <th class="checkbox hide-when-print">
          <%= check_box_tag('check_all', '', false, :class => 'toggle-selection', :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}") %>
        </th>
        <th><%= l(:field_name) %></th>
        <th><%= l(:label_optional_description) %></th>
        <th><%= l(:label_catalog_tag_categories) %></th>
        <th><%= l(:label_catalog_tag_groups) %></th>
        <th></th>
      </tr></thead>
      <tbody>
        <% tags.each do |tag| %>
          <tr id=<%= "tag-#{tag.id}" %> >
            <td class="checkbox hide-when-print"><%= check_box_tag("ids[]", tag.id, false, id: nil) %></td>
            <td class="name edit-tag"><%= tag.name %></td>
            <td class="description edit-tag"><%= tag.description %></td>
            <td class="category edit2-tag"><%= tag.catalog_tag_category_names(@project.id) %></td>
            <td class="group"><%= tag.catalog_tag_group_names(@project.id) %></td>
            <td class="buttons">
              <%= link_to(l(:button_edit), edit_project_catalog_tag_path(tag), class: 'icon icon-edit') %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% items = select_items_catalog_tag_categories %>
    <select name="work" id="work-tag-category" multiple style="display:none;">
      <% items.each do |item| %>
        <option value=<%= item[1] %> ><%= item[0] %></option>
      <% end %>
    </select>
    <fieldset class="box tabular">
      <legend><%= l(:label_bulk_edit_tag_categories) %></legend>
      <%= form_with(url: catalog_tags_bulk_update_path, method: :patch, remote: true, id: 'form-bulk-edit-tag-categories') do |form| %>
        <%= hidden_field_tag 'project_id', @project.id %>
        <%= hidden_field_tag 'operate', 'none' %>
        <%= error_messages_for 'catalog_tag' %>
        <%= form.select :catalog_tag_category_ids,
                items,
                { label: :label_catalog_tag_category }, { multiple: true, id: 'select-catalog-tag-categories' } %>
        <%= form.button l(:label_btn_bulk_add), type: 'button', value: 'op_add', id: 'btn-submit-buld-add-tag-categories' %>
        <%= form.button l(:label_btn_bulk_delete), type: 'button', value: 'op_del', id: 'btn-submit-buld-delete-tag-categories' %>
      <% end %>
    </fieldset>
  <% else %>
    <p class="nodata"><%= l :label_no_data %></p>
  <% end %>
</fieldset>
