<% html_title l(:label_settings), l(:issues_catalog) %>
<%= stylesheet_link_tag('issues_catalog', plugin: 'issues_catalog') %>

<fieldset class="box tabular" id="issues_catalog_manage_categories">
  <legend><%= l(:label_catalog_tag_categories)%></legend>
  <div><%= link_to l(:label_catalog_tag_category_new), new_project_catalog_tag_category_path(@project), :class => 'icon icon-add' %></div>
  <% catalog_tag_categories = @project.catalog_tag_categories %>
  <% unless catalog_tag_categories.empty? %>
    <table class="list catalog-tag-categories">
      <thead><tr>
        <th><%= l(:label_catalog_tag_categories) %></th>
        <th><%= l(:label_optional_description) %></th>
        <th></th>
      </tr></thead>
      <tbody>
      <% for catalog_tag_category in catalog_tag_categories %>
        <tr>
          <td class="name"><%= catalog_tag_category[:name] %></td>
          <td class="description"><%= catalog_tag_category[:description] %></td>
          <td class="buttons">
            <%= link_to l(:button_edit), edit_catalog_tag_category_path(catalog_tag_category), :class => 'icon icon-edit' %>
            <%= delete_link catalog_tag_category_path(catalog_tag_category) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="nodata"><%= l :label_no_data %></p>
  <% end %>
</fieldset>

<fieldset class="box tabular" id="issues_catalog_manage_tags">
  <legend><%= l(:label_tags)%></legend>
  <% tags = @project.catalog_tags %>
  <% unless tags.empty? %>
    <table class="list catalog-tags">
      <thead><tr>
        <th><%= l(:field_name) %></th>
        <th><%= l(:label_catalog_tag_categories) %></th>
        <th></th>
      </tr></thead>
      <tbody>
        <% tags.each do |tag| %>
          <tr class="issue">
            <td class="name"><%= render_catalog_link_tag(tag) %></td>
            <td class="category"><%= tag.catalog_tag_category_names(@project.id) %></td>
            <td class="buttons">
              <%= link_to l(:button_edit), edit_project_catalog_tag_path(tag),
                    class: 'icon icon-edit' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="nodata"><%= l :label_no_data %></p>
  <% end %>
</fieldset>
