<h3 class="title"><%= l(:label_add_tag) %></h3>

<%= form_tag({action: :update_tag},
             :remote => true,
             :method => :post,
             :id => 'add-tag-form') do %>

  <%= hidden_field_tag 'project_id', @project.id if @project %>

  <p class="buttons">
    <%= submit_tag l(:button_add), :name => nil, :onclick => "hideModal(this);" %>
    <%= link_to_function l(:button_cancel), "hideModal(this);" %>
  </p>
<% end %>
