<%= stylesheet_link_tag('issues_catalog', plugin: 'issues_catalog') %>
<%= javascript_include_tag('issues_catalog', plugin: 'issues_catalog') %>
<%= javascript_include_tag('lozad.min', plugin: 'issues_catalog') %>

<% content_for :sidebar do %>
  <%= render :partial => 'catalog_sidebar' %>
<% end %>

<div class="catalog-search-tag">
  <%= form_with(url: project_issues_catalog_path(@project), method: :get, local: true) do |f| %>
    <%= f.label :tags, l(:label_search_tag) %>
    <%= f.text_field :tags, id: "catalog-input-search-tag" %>
  <% end %>
</div>
<div class="catalog-head">
  <div class="catalog-tag-selected">
    <fieldset class="box tabular" id="catalog_tags_selected">
      <legend><%= l(:label_selected_tags)%></legend>
      <%= render_selected_cagalog_tags %>
    </fieldset>
  </div>
  <span class="catalog-btn-thumbnails" id="catalog-btn-thumbnails">
    <%= l(:label_only_thumbnails) %>
  </span>
</div>
<div class="catalog-always-selector">
  <%= render_catalog_tag_always %>
</div>

<% if catalog_select_any? %>
  <span class="pagination top"><%= pagination_links_full @issue_pages, @issue_count %></span>
  <%= form_tag({}, :data => {:cm_url => issues_context_menu_path}) do -%>
    <%= render_catalog_issues %>
  <% end -%>
  <span class="pagination bottom"><%= pagination_links_full @issue_pages, @issue_count %></span>

  <%= context_menu %>
<% end -%>

<script>
const observer = lozad();
observer.observe();
</script>