<% content_for :sidebar do %>
  <%= render :partial => 'catalog_sidebar' %>
<% end %>

<span class="pagination"><%= pagination_links_full @issue_pages, @issue_count %></span>
<%= render_catalog_issues %>
<span class="pagination"><%= pagination_links_full @issue_pages, @issue_count %></span>

<% if false %>
  <%= context_menu %>
<% end %>
