<div>
  <% unless @select_category.nil? %>
    <h3>
      <%= link_to l(:label_catalog_top), controller: 'issues_catalog', action: 'index' %> 
      <%= '>' %> 
      <%= l :field_category %>：<%= @select_category.name %>
    </h3>
  <% else %>
    <h3><%= l :field_category %></h3>
    <%= render_catalog_categories %>
  <% end %>
</div>

<div>
  <% unless @select_tags.nil? %>
    <h3>
      <%= l :label_tag %>：
      <% @select_tags.each do |tag| %>
        <%= tag %> 
      <% end %>
    </h3>
  <% else %>
    <h3><%= l :label_tag %></h3>
  <% end %>
  <%= render_catalog_tags %>
</div>

<% if true %>
<%= render :partial => 'issues/list', :locals => {:issues => @issues, :query => @query} %>
<span class="pagination"><%= pagination_links_full @issue_pages, @issue_count %></span>
<% end %>


<% content_for :sidebar do %>
  <%= render :partial => 'issues/sidebar' %>
<% end %>

<%= context_menu %>
