<%= stylesheet_link_tag('issues_catalog', plugin: 'issues_catalog') %>
<%= javascript_include_tag('main', plugin: 'issues_catalog') %>
<%= javascript_include_tag('lozad.min', plugin: 'issues_catalog') %>
<%= javascript_tag("const IssuesCatalogParam = #{@to_js_param.to_json};") %>

<% content_for :sidebar do %>
  <%= render :partial => 'catalog_sidebar' %>
<% end %>

<div class="catalog-search-tag">
  <%= form_with(url: project_issues_catalog_path(@project), method: :get, local: true, id: 'form-search-tag') do |form| %>
    <%= form.hidden_field 'set_filter', value: '1' %>
    <%= form.hidden_field 'sort', value: 'priority:desc' %>
    <% if @issues_open_only %>
      <%= form.hidden_field 'f[]', value: 'status_id' %>
      <%= form.hidden_field 'op[status_id]', value: 'o' %>
    <% end %>
    <%= form.label :search_input, l(:label_search_tag) << ':', for: "catalog-input-search-tag" %>
    <%= form.text_field :search_input, id: "catalog-input-search-tag" %>
    <%= form.submit '', disabled: true, style: 'display: none' %>
  <% end %>
</div>
<div class="catalog-head" id="catalog_head">
  <div class="catalog-tag-selected">
    <fieldset class="box" id="catalog_tags_selected">
      <legend><%= l(:label_selected_tags)%></legend>
    </fieldset>
  </div>
</div>
<div class="catalog-always-selector">
</div>

<% if catalog_select_any? %>
  <span class="pagination top"><%= pagination_links_full @issue_pages, @issue_count %></span>
  <%= form_tag({}, :data => {:cm_url => issues_context_menu_path}) do -%>
    <%= render_catalog_issues %>
  <% end -%>
  <span class="pagination bottom"><%= pagination_links_full @issue_pages, @issue_count %></span>

  <%= context_menu %>
<% end -%>

<button id="btn-scroll-to-top">≫</button>

<script>
const observer = lozad();
observer.observe();
</script>